/* Flex content */
.h-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.hv-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cotent */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.fd-c {
  flex-direction: column;
}

.fd-r {
  flex-direction: row;
}

.f-sa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.f-fe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.f-sb {
  display: flex;
  justify-content: space-between;
}

.f-ss {
  display: flex;
  justify-content: flex-start;
}

.f-dr {
  display: flex;
  flex-direction: row;
}

.f-dc {
  display: flex;
  flex-direction: column;
}
